.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 992px){
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}

@media (min-width: 1400px){
    .container {
        width: 1370px;
    }
}

@media (min-width: 1600px){
    .container {
        width: 1570px;
    }
}

@media (min-width: 1800px){
    .container {
        width: 1770px;
    }
}

.text-primary{
    color: #409EFF;
}

.text-success{
    color: #67C23A;
}

.text-warning{
    color: #E6A23C;
}

.text-danger{
    color: #F56C6C;
}
.text-info{
    color: #909399;
}

/**
Loading时css的bug
 */
body.el-loading-parent--relative{
    position: static!important;
}

.bd-loading .el-loading-spinner{
    font-size: 4em;
}

.el-tree-node__content>.el-checkbox {
    margin-right: 4px;
}