.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 992px){
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}

@media (min-width: 1400px){
    .container {
        width: 1370px;
    }
}
.text-primary{
    color: #409EFF;
}

.text-success{
    color: #67C23A;
}

.text-warning{
    color: #E6A23C;
}

.text-danger{
    color: #F56C6C;
}
.text-info{
    color: #909399;
}